#caja {
    background-color: rgb(13, 200, 113);
    width: 200px;
}

.caja {
    width: 150px;
    height: 150px;
    background-color: rgb(38, 75, 75);
    transition: 0.3s;
}

.activa {
    background-color: rgb(87, 17, 153);
    transform:scale(1.1);
}

#form {
    width: 100%;
    height:80px;
    padding: auto;
    border: #555 dotted;
}

#contenedor { 
    display: flex;
    margin: 20px;
    border: #555 solid;
    padding: 10px;
    flex-basis: auto;
    flex-direction: column;
}

#contenedor p {
    border: #c0adad74 dotted 1px;
    margin: 10px;
}

#comentario { 
    border: 1px #555;
    font-size: 20px;
    width: 100%;
    height: 50px;
}